{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<nav>
		<ul>
			<li>
				<strong>Demo PicoCss Symfony Webpack</strong>
			</li>
		</ul>
		<ul>
			<li><a href="#">Menu 1</a></li>
			<li><a href="#">Menu 2</a></li>
			<li><a href="#" role="button">Button</a></li>
		</ul>
	</nav>

	<div class="grid">
		<div>
			<article>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium nemo, rerum sapiente labore iure, nam suscipit id fugiat iste atque ipsam deserunt non pariatur, fugit dolorem repellat. Itaque, maxime. Illo.
			</article>
		</div>
		<div>
			<article>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, voluptatem neque reprehenderit, commodi officiis amet alias nesciunt quaerat dicta aut, possimus nobis nisi architecto asperiores? Modi illum quia culpa unde?
			</article>
		</div>
	</div>
{% endblock %}
