{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<nav>
		<ul>
			<li>
				<strong>Brand</strong>
			</li>
		</ul>
		<ul>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#" role="button">Button</a></li>
		</ul>
	</nav>
{% endblock %}
